* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #070707, #121212);
  font-family: Arial, sans-serif;
  color: white;
}

.login, .painel {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

input, select, button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

input, select {
  background: #1c1c1c;
  color: white;
}

button {
  background: #00ff99;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.card {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 12px;
  margin-top: 20px;
}

#ranking {
  margin-top: 10px;
}

.rank-item {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #333;
}
